.container {
    width: 600px;
    /* height: 600px;  */
    background-color:darkgreen;
    margin: auto;
    padding: 10px;
    color: white;
    border-radius: 20px;
}
    

.title {
    margin-bottom: 10px;
    /* border: 1px solid red; */
 }