.container{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    background-color: aquamarine;
    
}

.card{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    width: 200px;
    background-color: green;
}